# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/admin/migrations
/mine/migrations
/addReview/migrations
/search/migrations
/merchant/migrations
/media/comments/

addReview\__pycache__
admin\__pycache__
mine\__pycache__
mainPage\__pycache__
search\__pycache__
CanteenReview\__pycache__